DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/mathqbank

# MODEL_TIER_FLASH="gemini-1.5-flash"
# MODEL_TIER_PRO="gemini-1.5-pro"

MODEL_TIER_FLASH="gemini-2.5-flash"
MODEL_TIER_PRO="gemini-2.5-pro"

GEMINI_API_KEY=""
LLM_DEBUG_ENABLED=false
LLM_DEBUG_MAX_TEXT_CHARS=3000

KEY_RELAY_BASE_URL="http://192.168.44.163:3010"
KEY_RELAY_TOKEN="call_key"
PROJECT_NAME="mathqbank"

# MinIO Configuration
MINIO_ENDPOINT="localhost:9000"
MINIO_ACCESS_KEY="minioadmin"
MINIO_SECRET_KEY="minioadmin"
MINIO_BUCKET_NAME="mathqbank"
MINIO_USE_SSL=false
MINIO_BUCKET_4_TUBOOK_NAME="math-pdf-images"

# IS_DEBUG=true 时，图片解析改用 MODEL_TIER_FLASH
# IS_DEBUG=false 时，继续用 MODEL_TIER_PRO
IS_DEBUG=true